.steps {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.numbers {
  display: flex;
  justify-content: space-between;

  width: 100px;
  margin-bottom: 20px;
}

.numbers div {
  width: 36px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background-color: lightgray;
  margin: 10px;
}

.numbers .active {
  background-color: blue;
  color: white;
}

.message {
  font-size: 18px;
  margin-bottom: 20px;
}

.buttons button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  background-color: blue;
  color: white;
  cursor: pointer;
}

.buttons button:hover {
  background-color: darkblue;
}
.buttons {
  display: flex;
  gap: 50px;
}
